<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
    <menuitem id="kursusku_root"
              name="Belajar Di MYKursus "
              sequence="10"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="pemerograman_categ"
              name="Daftar Pembelajaran di Kursusku"
              parent="kursusku_root"
              sequence="10"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="bahasa_categ"
              name="Session Dikursusku"
              parent="kursusku_root"
              sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="tingkatan_categ"
              name="Tingakatan kursus"
              parent="kursusku_root"
              sequence="30"/>

    <menuitem id="peserta_categ"
              name="Peserta kursus"
              parent="kursusku_root"
              sequence="40"/>

    <menuitem id="pengajar_categ"
              name="Pengajar kursus"
              parent="kursusku_root"
              sequence="50"/>

    <menuitem id="penyelenggara_categ"
              name="Penyelenggra di kursusku"
              parent="kursusku_root"
              sequence="60"/>

</odoo>